body{
    margin: 0 auto;
    width: 90%;
    background-image: url("../images/coat.jpg");
    background-size: cover;
    color: bisque;
    font-family: 'Lora', serif;
}

header{
    text-align: center;
}
#start{
    clear:both;
    
}

#triviaBox{
    height: auto;
    margin: auto;
    padding: 5px 15px;
    width: 75%;
    text-align: center;
}
#time{
    text-align: center;
}

.hide{
    display: none;
}
.show{
    
}

#gif{
    margin: auto;
    width: 50%;
    text-align: center;
}
#nextZone{
    float: right;
}