body{
    margin: 0 auto;
    width: 90%;
    background-image: url("../images/coat.jpg");
    background-size: cover;
    color: bisque;
    font-family: 'Lora', serif;
}
#triviaBox, a:hover{
    
    cursor: url(../images/wand.png), auto !important;
}

header{
    text-align: center;
}
#start{
    clear:both;
    
}

#triviaBox{
    height: auto;
    margin: auto;
    padding: 5px 15px;
    width: 75%;
    text-align: center;
}
#time{
    text-align: center;
}

.hide{
    display: none;
}
.show{
    
}

#gif{
    margin: auto;
    width: 50%;
    text-align: center;
}
#nextZone{
    float: right;
}
html, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}
button, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}
#triviaBox, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}
input, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}




 
